{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div id="maintenance-wrapper">
  <div class="inner">
    <header role="banner">
      {% if logo %}
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
        </a>
      {% endif %}
    </header>

    <main role="main">

      {{ page.highlighted }}

      {{ page.content }}
    </main>
    <ul class="social-maintenance">
      <li><a href="https://www.facebook.com/LadyBagManila/" title="Facebook"><i class="fab fa-facebook-f">‌​&nbsp;</i></a></li>
      <li><a href="https://www.instagram.com/ladybag_mnl/" title="Instagram"><i class="fab fa-instagram">‌​&nbsp;</i></a></li>
    </ul>
  </div>
  
</div>

{% if page.sidebar_first %}
  <aside role="complementary">
    {{ page.sidebar_first }}
  </aside>
{% endif %}

{% if page.sidebar_second %}
  <aside role="complementary">
    {{ page.sidebar_second }}
  </aside>
{% endif %}

{% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}
