<div class="layout-container homepage">

  <header id="header" role="banner" class="home fixed-top">
    <div class="site-container h-100">
      <div class="row h-100">
        <div class="col-sm-4 col-3 align-self-center">
          <div id="mobile-burg-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
          {{page.header_left}}
        </div>
        <div class="col-sm-4 col-6 align-self-center">
          {{page.header_mid}}
        </div>
        <div class="col-sm-4 col-3 align-self-center">
          {{page.header_right}}
        </div>
      </div>
    </div>
  </header>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div id="mobile-sidebar">
      <span>Menu</span>
      {{ drupal_menu('mobile', 1, 3) }}
    </div>
    <div class="layout-content">
        {#{ page.content }#}
      <div class="site-container" id="banner-wrapper">
        <div id="banner">
          {{ drupal_view('banner', 'block_1') }}
        </div>
        <div class="every-woman">
          <div>The day-to-night clutch every girl should have</div>
          <img src="{{ base_path ~ directory }}/images/day-to-night-stroke.png" alt="">
        </div>
      </div>
      <div class="mutedmoss-section">
        <div id="about_us" class="about-section">
          <div class="site-container">
            <div class="row">
              <div class="left col-xl-6 col-lg-12 order-xl-1 order-lg-2 order-sm-2 order-2 align-self-center">
                <div class="inner">
                  <div class="about_photo_a">
                    <img src="{{ base_path ~ directory }}/images/About_us_photo.jpeg" alt="">
                  </div>
                  <div class="about_photo_b">
                    <img src="{{ base_path ~ directory }}/images/AboutUsb.jpg" alt="">
                  </div>
                  <div class="about_photo_doodle"></div>
                </div>
              </div>
              <div class="right col-xl-6 col-lg-12 order-xl-2 order-lg-1 order-sm-1 order-1 align-self-center">
                <div class="inner">
                  {{ drupal_entity('block_content', '2') }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="celeb-pick">
          <div class="celeb-pick-inner">
            <div class="site-container">
              <div class="doodle-1"></div>
              <div class="left">
                <div class="inner">
                  <h1>{{ 'Blogger pick of the month'|t }}</h1>
                  <p>Don't you just love taking fashion inspo from your favorite bloggers?</p>
                  <p>Check out how our featured blogger chose to style her outfit with our clutch.</p>
                </div>
              </div>
              <div class="right">
                <div class="doodle-2"></div>
                <div class="inner">
                  <div class="left-side">
                    <div class="celeb-name">Camille Co</div>
                    <img src="{{ base_path ~ directory }}/images/CamilleInstagram.jpg" alt="img-fluid">
                  </div>
                  <div class="right-side">
                    <div class="small-pic">
                      <img src="{{ base_path ~ directory }}/images/Camille_s_Silver_bag.jpg" alt="img-fluid">
                      <p>Camille adds a touch of elegance to her date night look with our silver clutch.</p>
                    </div>
                    <div class="large-pic">
                      <img src="{{ base_path ~ directory }}/images/CamilleCo.jpg" alt="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-extension"></div>
        </div>
        {# Bestseller block #}
        <div id="bestsellers-section">
          <div class="site-container">
            <div class="left-doodle"></div>
            <div class="inner">
              <h4>{{ 'Our best-sellers'|t }}</h4>
              {{ drupal_view('bestsellers', 'block_1') }}
            </div>
            <div class="right-doodle"></div>
          </div>
        </div>
        <div class="bg-section"></div>
      </div>
      <div id="our-products-section">
        <h4>{{ 'Our Products'|t }}</h4>
        {{ drupal_view('product_terms_home', 'block_1') }}
      </div>
      <div id="our-clients-section">
        <div class="site-container">
          <div class="doodle-1"></div>
          <div class="doodle-2"></div>
          <h2>{{ 'Our customers'|t }}</h2>
          {{ drupal_view('clients', 'block_1') }}
        </div>
      </div>
      <div id="models-section">
        <div class="doodle-3"></div>
        <div class="site-container">
          <div class="row">
            <div class="col-lg-6 left align-self-center">
              <div class="inner">
                <h2>{{ 'Let&rsquo;s get social!'|t }}</h2>
                <div class="userhandle"><a target="_blank" href="https://www.instagram.com/ladybag_mnl/">@ladybag_mnl</a></div>
              </div>
            </div>
            <div class="col-lg-6 right align-self-center">
              <div class="inner">
                <div id="instagram-feed"> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="doodle-1"></div>
        <div class="doodle-2"></div>
      </div>

      {% if page.footer %}
        <footer id="footer" role="contentinfo">
          <div class="site-container">
            {{ page.footer }}
          </div>
        </footer>
      {% endif %}

    </div>{# /.layout-content #}
  </main>


</div>{# /.layout-container #}
